html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }

  body{
      font-family: 'poppins', serif;
      font-style: normal;
      font-size: 22px;
      line-height: normal;
      font-weight: normal;
      color: #000000;
  }

  .wrapper{
      max-width: 712px;
      margin: 0 auto;
  }
  
  .nav__block{
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    background-color: #E64E20;
  }
  .nav li{
      display: inline-block;
      list-style-type: none;
  }

  /* navigation block */

  .main__nav {
    position: absolute;
    width: 584px;
    height: 77px;
    left: 779px;
    top: 58px;
  }

  .nav__garantii {
    position: absolute;
    left: -1.9%;
    right: 68.68%;
    top: 9.09%;
    bottom: 8.56%;
  }

  .nav__katalog {
    position: absolute;
    height: 54px;
    left: 68.06%;
    right: 18.96%;
    top: calc(50% - 54px/2 - 2466px);
    
    font-family: Alef;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 56px;
    /* or 233% */
    
    text-align: center;
    letter-spacing: -3px;
    
    color: #E64E20;
    
    border: 1px solid #D8D8D8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .nav__korzina {
    position: absolute;
    height: 56px;
    left: 72.59%;
    right: 5.19%;
    top: calc(50% - 56px/2 - 0.5px);
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 56px;
    /* identical to box height, or 233% */
    
    text-align: center;
    letter-spacing: -3px;
    
    color: #FFFFFF;
  }
